<!doctype html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob: https: http://localhost:8000 http://127.0.0.1:8000; media-src 'self' blob: https: http://localhost:8000 http://127.0.0.1:8000 https://api.modelarcve.com; connect-src 'self' http://localhost:8000 http://127.0.0.1:8000 https://api.modelarcve.com https://photo-sphere-viewer-data.netlify.app https://cdn.jsdelivr.net https://images.unsplash.com<% if (ctx.dev) { %> ws://localhost:* http://localhost:*<% } %>; worker-src 'self' blob:;"
    />

    <link rel="icon" href="favicon.svg?v=4" type="image/svg+xml">
    <link rel="icon" href="favicon.ico?v=4" sizes="any">
    <link rel="apple-touch-icon" href="apple-touch-icon.png?v=4">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
